@media (max-width: 917px) {
  .container {
    max-width: 800px;
  }
}

@media (max-width: 601px) {
  .container {
    max-width: 500px;
  }
}

@media (max-width: 500px) {
  .container {
    max-width: 400px;
  }
}
